# Python 3.11
# Linux x86_64  or  Apple Silicon macOS 13+
#
# Do not compile MuJoCo from source.
--index-url https://pypi.org/simple
--only-binary=mujoco

numpy==1.26.4
torch==2.7.1
gymnasium[atari,mujoco]==1.2.2
shimmy==2.0.0
dm-control==1.0.41
mujoco==3.8.1
MinAtar==1.0.15
stable-baselines3==2.8.0
opencv-python-headless==4.10.0.84
matplotlib==3.9.4
wandb==0.19.11
